{% extends 'main.html' %}
{% load static %}
{% block title %}page not found{% endblock title %}
{% block content %}
<!-- Main-Content Start -->
<div class="main-content">
   <section class="error-404">
      <div class="container">
         <div class="row">
            <div class="col-sm-12">
               <div class="fourzero-image">
                           <img src={% static 'images/404.png' %} class="img-fluid" alt="Responsive image">
                        </div>   
               <h1 class="iq-font-light">Oops! This Page is Not Found.</h1>
               <div class="d-block">
                  <a class="button btn-yellow" href="index.html">برگشت به صفحه اصلی</a>
               </div>                
            </div>
         </div>
      </div>
   </section>
</div>
<!-- Main-Content End -->
{% endblock content %}

