{% extends 'main.html' %}
{% load static %}
{% block title %}about us{% endblock title %}
{% block about_active %} class="active" {% endblock about_active %}
{% block content %}
<!-- Breadcrumb Start -->
<section class="iq-breadcrumb text-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 text-right">
        <img src={% static 'images/about/02.png' %} class="img-fluid" alt="#" />
      </div>
      <div class="col-lg-8 col-md-8 text-right mb-4 mb-lg-0 align-self-center">
        <h2 class="title">درباره ما</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active">درباره ما</li>
            <li class="breadcrumb-item">
              <a href="{% url 'home_page' %}">
              خانه
              <i class="fa fa-home" aria-hidden="true"></i>
              </a>
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
  <!-- Features Start -->
  <section class="iq-features gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="title-box text-center">
            <span class="text-warning">تخصص های ما</span>
            <h2 class="title">ویژگی های انحصاری تیم توملای</h2>
            <p class="mb-0">
              هر انچه شما نیاز دارید در یک تجربه خاص
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-lg-0 mb-5">
          <div class="future-services text-center">
            <div class="future-img mb-3">
              <img
                src={% static 'images/features/01.png' %}
                class="img-fluid"
                alt="fancybox"
              />
            </div>
            <h4 class="mb-2">توسعه وب سایت</h4>
            <p class="mb-0">
              سایت متناسب با کسب و کار شما با فریمورک های درخواستی شما 
            </p>
          </div>
        </div>
        <div class="col-lg-4 mb-lg-0 mb-5">
          <div class="future-services text-center mt-0">
            <div class="future-img mb-3">
              <img
                src={% static 'images/features/02.png' %}
                class="img-fluid"
                alt="fancybox"
              />
            </div>
            <h4 class="mb-2">استراتژی های بازاریابی</h4>
            <p class="mb-0">
              اشنایی اعضای تیم با اصول روانشناسی مشتری و اصول بازاریابی انلاین هر چیزی که 
              نیازمند ایجاد یک کسب و کار پر رونق است
            </p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="future-services text-center">
            <div class="future-img mb-3">
              <img
                src={% static 'images/features/03.png' %} 
                class="img-fluid"
                alt="fancybox"
              />
            </div>
            <h4 class="mb-2">محتوا نویسی</h4>
            <p class="mb-0">
              شرایط پشتیبانی قدرتمند همراه با نوشتن محتوای جذاب برای کار شما
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-text middle left default">
      <div
        data-bottom="transform:translatex(-300px)"
        data-top="transform:translatex(0);"
      >
         ویژگی های برتر توملای
      </div>
    </div>
  </section>
  <!-- Features End -->
  <!-- Project Start -->
  <section class="iq-project">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 text-center">
          <img src="{% static 'images/project/01.png' %}" class="img-fluid" alt="#" />
          <div class="iq-objects-style-1">
            <span
              class="iq-objects-01"
              data-bottom="transform:translatey(-50px)"
              data-top="transform:translatey(-50px);"
            >
              <img src={% static 'images/effect/01.jpg' %}  alt="drive02" />
            </span>
            <span
              class="iq-objects-02"
              data-bottom="transform:translatey(50px)"
              data-top="transform:translatey(-100px);"
            >
              <img src="{% static 'images/effect/02.jpg' %}" alt="drive02" />
            </span>
            <span
              class="iq-objects-03"
              data-bottom="transform:translatex(50px)"
              data-top="transform:translatex(-100px);"
            >
              <img src="{% static 'images/effect/03.jpg' %}" alt="drive02" />
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="title-box text-right" style='margin-bottom:30px !important;'>
            <span class="text-warning">سرویس های سفارشی</span>
            <h2 class="title">نرم افزار های پروژه </h2>
            <p class="mb-0">
              به منظور کاربردی تر شدن پروژه و اسان تر شدن شرایط استفاده ی کاربران از 
                کسب کار شما نرم افزار های مورد نیاز کسب و کار شما برای سیستم عامل های
                متفاوت پیاده سازی خواهد شد
            </p>
          </div>
          <ul class="iq-list text-right">
            <li>
              <i class="ion ion-checkmark-circled"></i
              ><span>خروجی به صورت وب اپلیکیشن </span>
            </li>
            <li>
              <i class="ion ion-checkmark-circled"></i
              ><span
                >خروجی به صورت اپلیکیشن اندروید</span
              >
            </li>
            <li>
              <i class="ion ion-checkmark-circled"></i
              ><span>خروجی به صورت اپلیکیشن ای او اس مخصوص ایفون</span>
            </li>
          </ul>
          <a class="button" href="#" style='float:right !important; margin-top:30px;'>بیشتر بدانید</a>
        </div>
      </div>
    </div>
    <div class="scrolling-text bottam right default">
      <div
        data-bottom="transform:translatex(300px)"
        data-top="transform:translatex(0);"
      >
        سرویس های اختصاصی
      </div>
    </div>
  </section>
  <!-- Project End -->
  <!-- Progress Bar Start -->
  <section class="iq-progress gray-bg">
    <div class="container">
      <div class="row flex-row-reverse">
        <div class="col-lg-6 text-center">
          <img src="{% static 'images/choose-us/01.png' %}" class="img-fluid" alt="fancybox" />
          <div class="iq-objects-style-2 right">
            <span
              class="iq-objects-01"
              data-bottom="transform:translatey(-50px)"
              data-top="transform:translatey(-50px);"
            >
              <img
                src="{% static 'images/effect/dotted-pattern-black.png' %}"
                alt="drive02"
              /> </span
            ><span
              class="iq-objects-02"
              data-bottom="transform:translatey(50px)"
              data-top="transform:translatey(-100px);"
            >
              <img
                src="{% static 'images/effect/dotted-pattern-black.png' %}"
                alt="drive02"
              /> </span
            ><span
              class="iq-objects-03"
              data-bottom="transform:translatex(50px)"
              data-top="transform:translatex(-100px);"
            >
              <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02" />
            </span>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="title-box text-right">
            <span class="text-warning">با هم موفق شویم</span>
            <h2 class="title">چرا در نهایت مارا انتخاب می کنید</h2>
            <p class="mb-0">
              ایجاد سایت خاص و در سورت نیازهوشمند همراه با هوش مصنوعی و پردازش دیتا برای جذب مشتری بیشتر
            </p>
          </div>
          <div class="iq-services-box text-left">
            <div class="services-content">
              <h6>رابط کاربری</h6>
              <span class="progress-value">90%</span>
              <div class="iq-progress-bar">
                <span data-percent="90"></span>
              </div>
            </div>
            <div class="services-content">
              <h6>استفاده از حافظه</h6>
              <span class="progress-value">95%</span>
              <div class="iq-progress-bar">
                <span data-percent="95"></span>
              </div>
            </div>
             <div class="services-content">
              <h6>پردازش دیتا</h6>
              <span class="progress-value">80%</span>
              <div class="iq-progress-bar">
                <span data-percent="80"></span>
              </div>
            </div>
            <div class="services-content">
              <h6>توسعه نرم افزار</h6>
              <span class="progress-value">85%</span>
              <div class="iq-progress-bar">
                <span data-percent="85"></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-text top left default">
      <div
        data-bottom="transform:translatex(-300px)"
        data-top="transform:translatex(0);"
      >
        راه حل های سفارشی 
      </div>
    </div>
  </section>
  <!-- Progress Bar End -->
  <!-- Client Testimonial start -->
  <section class="our-clients">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <span class="text-warning">بخشی از مشتریان ما</span>
            <h2 class="title">توضیحات مشتری</h2>
            <p class="mb-0">
              بخشی از مشخصات مشتری که مشکلی فاش کردن ان ندارد برای جلب اعتماد شما
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div
            class="owl-carousel"
            data-autoplay="true"
            data-loop="true"
            data-nav="false"
            data-dots="true"
            data-items="1"
            data-items-laptop="1"
            data-items-tab="1"
            data-items-mobile="1"
            data-items-mobile-sm="1"
            data-margin="15"
          >
            <div class="item">
              <div class="iq-client">
                <div class="client-img">
                  <img
                    alt="#"
                    class="img-fluid rounded-circle"
                    src="{% static 'images/testimonial/01.jpg' %}"
                  />
                </div>
                <p>
                  Ornare aenean euismod elementum nisi quis eleifend quam. Vitae
                  congue eu consequat ac felis donec et odio. Eget felis eget
                  nunc lobortis.
                </p>
                <div class="client-info">
                  <div class="client-name">
                    <h5>Richardson</h5>
                    <span class="sub-title">Developer, Bizbag</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-client">
                <div class="client-img">
                  <img
                    alt="#"
                    class="img-fluid rounded-circle"
                    src='{% static 'images/testimonial/02.jpg' %}'
                  />
                </div>
                <p>
                  Ornare aenean euismod elementum nisi quis eleifend quam. Vitae
                  congue eu consequat ac felis donec et odio. Eget felis eget
                  nunc lobortis.
                </p>
                <div class="client-info">
                  <div class="client-name">
                    <h5>Morales</h5>
                    <span class="sub-title">Designer, CEO</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="iq-client">
                <div class="client-img">
                  <img
                    alt="#"
                    class="img-fluid rounded-circle"
                    src="{% static 'images/testimonial/03.jpg' %}"
                  />
                </div>
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <div class="client-info">
                  <div class="client-name">
                    <h5>Kelly</h5>
                    <span class="sub-title">Designer, Co-Founder</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-text top left white">
      <div
        data-bottom="transform:translatex(300px)"
        data-top="transform:translatex(0);"
      >
        Services Speak Itself
      </div>
    </div>
  </section>
  <!--Client Testimonial end -->
  <!-- Our Team start -->
  <section id="our-team" class="our-team gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <span class="text-warning">همکاری با ما</span>
            <h2 class="title">با بهترین تیم همراه شوید</h2>
            <p class="mb-0">
             تیم قدرتمند توملای همراه شماست
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div
            class="owl-carousel"
            data-autoplay="true"
            data-loop="true"
            data-nav="false"
            data-dots="true"
            data-items="3"
            data-items-laptop="3"
            data-items-tab="2"
            data-items-mobile="1"
            data-items-mobile-sm="1"
            data-margin="15"
          >
            <div class="item">
              <div class="iq-team">
                <div class="iq-team-img">
                  <img
                    src="{% static 'images/team/01.jpg' %}"
                    class="img-fluid center-block"
                    alt="#0"
                  />
                  <div class="share">
                    <ul>
                      <li>
                        <a href="#"><i class="fab fa-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-github"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="iq-team-info text-center">
                  <a href="team-details.html"><h5>امیرمحمد غفاری</h5></a>
                  <span class="team-post">asp.net programmer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="scrolling-text bottam right default">
      <div
        data-bottom="transform:translatex(300px)"
        data-top="transform:translatex(0);"
      >
      ذهن های پویای ما
      </div>
    </div>
  </section>
  <!-- Our Team  end -->

        <div class="footer-subscribe">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h3 class="subscribe-heading">به ما بپیوندید</h3>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-fields">
                        <input type="email" name="EMAIL" placeholder="ایمیل" required="">
                        <a class="button btn-yellow" href="#">ثبت</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>
<!-- Main-Content End -->
{% endblock content %}
