{% extends 'main.html' %}
{% load static %}
{% block title %}TuMLAI Blog{%endblock title %} 

{% block content %}
<!-- Breadcrumb Start -->
<section class="iq-breadcrumb text-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-4 text-right">
        <img src="{% static 'images/blog/01.png' %}" class="img-fluid" alt="#" />
      </div>
      <div class="col-lg-8 col-md-8 text-right mb-4 mb-lg-0 align-self-center dirrtl">
        <h2 class="title">{{ posts.title }}</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>خانه</a>
            </li>
            <li class="breadcrumb-item">
              <a href="/blogs">بلاگ</a>
            </li>
            <li class="breadcrumb-item active"> {{ posts.title }}</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
  <!-- Our Blog Start -->
  <section id="our-blog" class="blog has-post-thumbnail">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 order-lg-1 order-2 text-right dirrtl">
          <div class="iq-blog-box">
            <div class="iq-blog-image clearfix">
              <img src="{{ posts.image.url }}"class="img-fluid center-block"alt="blogimage0"/>
            </div>
            <div class="iq-blog-detail">
              <div class="iq-blog-meta">
                <ul>
                  <li class="list-inline-item">
                    <a href="#" class="main-color" rel="bookmark">{{ posts.data_date }}</a>
                  </li>
                </ul>
              </div>
              <div class="blog-content">
                <div class="blog-content">
                  <h4 class="mb-2">{{ posts.title }}</h4>
                  <p>{{ posts.content_text }}</p>
                  <br />
                  <br />
                  <p>نویسنده : {{ posts.author }}</p>
                </div>
              </div>
            </div>
          </div>
          <div id="comments" class="comments-area">
            <h4 class="comments-title">{{ comments|length }} کامنت</h4>
            {% for comments in comments %}
            <ol class="commentlist">
              <li class="comment">
                <article class="comment-body">
                  <div class="iq-comments-media">
                    <div class="iq-comment-wrap">
                      <div class="iq-comments-photo">
                        <img class="img-fluid" src="{% static 'images/comments_avatar.jpg' %}" />
                      </div>
                      <div class="iq-comments-info">
                        <h5 class="title">{{ comments.title }}</h5>
                        <div class="iq-comment-metadata">
                          <a href="#">
                            <time>
                              <i class="fa fa-calendar"></i> {{ comments.comment_date }}
                            </time>
                          </a>
                        </div>
                        <div class="comment-content">
                          <p>{{ comments.content_text }}</p>
                        </div>
                      </div>
                      <!-- <div class="reply">
                        <a href="#">Reply</a>
                      </div> -->
                    </div>
                  </div>
                </article>
                <!-- .children -->
              </li>
              <!-- #comment-## -->
            </ol>
            {% endfor %}
            <!-- .commentlist -->
            <!--  -->
          </div>
          <div class="title mt-5">
            <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
            <p>
              Your email address will not be published. Required fields are
              marked *
            </p>
          </div>

          <form class="contact-us mt-3" id="iq-contact-form" method="post">
            <div class="row">
              <div class="col-xl-12">
                <label
                  >Comment<br />
                  <span class="form-control-wrap your-message">
                    <textarea
                      name="message"
                      placeholder="Comment"
                      class="form-control textarea"
                      aria-invalid="false"
                    ></textarea>
                  </span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <label
                  >Your Name<br />
                  <span class="form-control-wrap your-name">
                    <input
                      type="text"
                      name="name"
                      placeholder="Your Name"
                      class="form-control text"
                      aria-required="true"
                      aria-invalid="false"
                  /></span>
                </label>
              </div>
              <div class="col-md-4">
                <label
                  >Your Email<br />
                  <span class="form-control-wrap your-email">
                    <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      class="form-control text email"
                      aria-required="true"
                      aria-invalid="false"
                  /></span>
                </label>
              </div>
              <div class="col-md-4">
                <label
                  >Website<br />
                  <span class="form-control-wrap your-website">
                    <input
                      type="text"
                      name="website"
                      placeholder="website"
                      class="form-control text"
                      aria-invalid="false"
                  /></span>
                </label>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <button
                  id="submit"
                  name="submit"
                  type="submit"
                  value="Send"
                  class="button btn-yellow mt-4"
                >
                  Post Comment
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!--Our Blog End -->
</div>
{% endblock content %}
