<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BizBag - Multipurpose Business Startup HTML Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loader">
         </div>
      </div>
      <!-- loading End -->
      <!-- Header Start -->
      <header id="main-header" class="header-one">
         <div class="topbar">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <div class="number-info">
                        <ul>
                           <li class="email-header"><a href="mailto:support@bizbag.com">
                           <i class="fas fa-envelope"></i>support@bizbag.com</a>
                        </li>
                        <li class="phone-header"><a href="tel:+0123456789">
                        <i class="fas fa-phone"></i>+0123456789</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="social-icone text-right">
                  <ul>
                     <li class="d-inline"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                     <li class="d-inline"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                     <li class="d-inline"><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
                     <li class="d-inline"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- menu start -->
   <nav id="menu-1" class="mega-menu" data-color="">
      <!-- menu list items container -->
      <div class="menu-list-items">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                     <li>
                        <a href="index.html"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
                     </li>
                  </ul>
                  <!-- menu links -->
                  <ul class="menu-links">
                     <!-- active class -->
                     <li>
                        <a href="javascript:void(0)">HOME</a>
                        <!-- drop down multilevel  -->
                        <ul class="drop-down-multilevel">
                           <li><a href="index.html">BUSINESS STARTUP</a></li>
                           <li><a href="home-2.html">CREATIVE AGENCY</a></li>
                           <li><a href="home-3.html">SAAS LANDING PAGE</a></li>
                           <li><a href="home-4.html">DIGITAL MARKETING</a></li>
                           <li><a href="home-5.html">CONSULTING</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:void(0)">PAGES </a>
                        <!-- drop down multilevel  -->
                        <ul class="drop-down-multilevel">
                           <li>
                              <a href="about-us.html">ABOUT US  </a>
                              <!-- drop down second level -->
                     
                           </li>
                           <li>
                              <a href="our-services.html">OUR SERVICES </a>
                              <!-- drop down second level -->
                           </li>
                           <li>
                              <a href="our-team.html">OUR TEAM <i class="fa fa-angle-right fa-indicator"></i> </a>
                              <!-- drop down second level -->
                              <ul class="drop-down-multilevel">
                                 <li><a href="our-team.html">OUR TEAM 1</a></li>
                                 <li><a href="team-details.html">TEAM DETAILS</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="pricing-plan.html">PRICING PLAN </a>
                              <!-- drop down second level -->
                           </li>
                           <li>
                              <a href="our-team.html">OUR CLIENTS </a>
                              <!-- drop down second level -->
                           </li>
                           <li>
                              <a href="faq-1.html">FAQ </a>
                              <!-- drop down second level -->
                           </li>
                           <li><a href="401-1.html">ERROR 404 </a>
                           <!-- drop down second level -->
                        </li>
                        <li><a href="coming-soon-1.html">COMING SOON</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0)">PORTFOLIO</a>
                     <!-- drop down multilevel  -->
                     <ul class="drop-down-multilevel">
                        <li><a href="masonry-2-columns.html">MASONRY 2 COLUMNS</a></li>
                        <li><a href="masonry-3-columns.html">MASONRY 3 COLUMNS</a></li>
                        <li><a href="masonry-4-columns.html">MASONRY 4 COLUMNS</a></li>
                        <li><a href="masonry-5-columns.html">MASONRY 5 COLUMNS</a></li>
                        <li><a href="masonry-no-space.html">MASONRY NO SPACE</a></li>
                     </ul>
                  </li>
                  <li class="active">
                     <a href="javascript:void(0)">BLOG</a>
                     <!-- drop down multilevel  -->
                     <ul class="drop-down-multilevel">
                        <li><a href="one-column-blog.html">ONE COLUMN BLOG</a></li>
                        <li><a href="two-column-blog.html">TWO COLUMN BLOG</a></li>
                        <li><a href="three-column-blog.html">THREE COLUMN BLOG</a></li>
                        <li><a href="left-sidebar-blog.html">LEFT SIDEBAR BLOG</a></li>
                        <li><a href="right-sidebar-blog.html">RIGHT SIDEBAR BLOG</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="contact-us.html">CONTACT US</a>
                     <!-- drop down multilevel  -->
                  </li>
                  <li><a class="button btn-hdr" href="javascript:void(0)">GET STARTED</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</nav>
<!-- menu end -->
</header>
<!-- Header End -->
<!-- Breadcrumb Start -->
<section class="iq-breadcrumb text-left">
<div class="container">
   <div class="row">
      <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
         <h2 class="title">Blog Details</h2>
         <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
               <li class="breadcrumb-item active">Blog Details</li>
            </ol>
         </nav>
      </div>
      <div class="col-lg-4 col-md-4 text-right">
         <img  src="images/blog/01.png" class="img-fluid" alt="#"/>
      </div>
   </div>
</div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
<!-- Our Blog Start -->
<section id="our-blog" class="blog has-post-thumbnail">
   <div class="container">
      <div class="row">
         <div class="col-lg-4 col-md-4 order-lg-2 order-2">
            <div id="search-2" class="widget widget_search">
               <form method="get" class="search-form">
                  <label>
                     <span class="screen-reader-text">Search for:</span>
                  </label>
                  <input type="search" id="search-form-5cf6041521a93" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                  <button type="submit" class="search-submit"><i class="fa fa-search"></i><span class="screen-reader-text">Search</span></button>
               </form>
            </div>
            <div id="archives-2" class="widget widget_archive">
               <h2 class="widget-title">Archives</h2>
               <ul class="archives">
                  <li><a>May 2019</a></li>
               </ul>
            </div>
            <div class="iq-widget-menu widget">
               <h4 class="footer-title iq-rmt-30">Recent Post</h4>
               <div class="list-inline iq-widget-menu">
                  <ul class="iq-post">
                     <li class="mt-3">
                        <div class="post-img">
                           <img width="150" height="150" src="images/post/01.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="post-blog">
                           <div class="blog-box">
                              <a href="two-column-blog.html">Construction industry</a>
                              <ul>
                                 <li><a href="#">May 18, 2019</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="mt-3">
                        <div class="post-img">
                           <img src="images/post/02.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="post-blog">
                           <div class="blog-box">
                              <a href="two-column-blog.html">Life Lack Meaning</a>
                              <ul>
                                 <li><a href="#">May 18, 2019</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                     <li class="mt-3">
                        <div class="post-img">
                           <img src="images/post/03.jpg" class="img-fluid" alt=""/>
                        </div>
                        <div class="post-blog">
                           <div class="blog-box">
                              <a href="two-column-blog.html">Content Marketing</a>
                              <ul>
                                 <li><a href="#">May 18, 2019</a></li>
                              </ul>
                           </div>
                        </div>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="widget">
               <h4 class="widget-title iq-rmt-30">Categories</h4>
               <ul class="category">
                  <li><a href="#">Business</a>
               </li>
               <li><a href="#">Design</a>
            </li>
            <li><a href="#">Fashion</a>
         </li>
         <li><a href="#">Photography</a>
      </li>
      <li><a href="#">Technology</a>
   </li>
</ul>
</div>
</div>
<div class="col-lg-8 col-md-8 order-lg-1 order-2">
<div class="iq-blog-box">
<div class="iq-blog-image clearfix">
   <img src="images/blog/01.jpg" class="img-fluid center-block" alt="blogimage0">
</div>
<div class="iq-blog-detail">
   <div class="iq-blog-meta">
      <ul>
         <li class="list-inline-item">
            <a href="#" class="main-color" rel="bookmark">MAY 14, 2019</a>
         </li>
      </ul>
   </div>
   <div class="blog-content">
      <div class="blog-content">
         <h4 class="mb-2">Integer sollicitudin libero quam</h4>
         <p>This live blog allowed people, who may not have been able to make it to the actual event, stay informed and become a part of the discussion even though they were not in attendance. Their blog lets you interact with various industry leaders, while providing their audience with content that is engaging and educational.</p>
         <blockquote class="quote-style">
            <p>Sed vehicula odio sed velit volutpat aliquet. Sed dignissim enim et venenatis.<br>– maxin belly</p>
         </blockquote>
         <ul class="mb-3">
            <li>Incidunt vitae quae facere</li>
            <li>Lorem ipsum dolor sit amet</li>
            <li>Incidunt vitae quae facere</li>
            <li>Tenetur laborum rutrum</li>
         </ul>
         <h4 class="mb-2">The rutrum ullamcorper mattis</h4>
         <p>Content is an essential aspect of any digital marketing campaign. The Content Marketing Institute offers some of the best advice around in terms of how content can help your brand. From industry trends to best practices, their posts offer helpful advice on how to create the best strategies for your business and how your content marketing should play a role in the “bigger picture.</p>
         <p></p><h4 class="mb-2">The stand Lorem Ipsum passage</h4>
         <p>Curabitur pulvinar mi in lacinia convallis. Nulla sagittis urna hendrerit metus maximus luctus. Phasellus ac condimentum lacus. Mauris efficitur ultrices augue ut interdum. Aliquam placerat finibus ultrices. Nam pretium fermentum ante, porta luctus eros sodales et. Ut sollicitudin semper elit, vel efficitur justo ultrices quis. Etiam vel tortor rhoncus, malesuada ligula tempus, pulvinar nisi. Cras mi odio, efficitur pharetra lacinia vel, cursus at dolor.</p>
         <ul class="mb-3">
            <li>Lorem ipsum line one</li>
            <li>Incidunt vitae line two</li>
            <li>Lorem ipsum line three</li>
         </ul>
         <h4 class="mb-2">Pellentesque ultriciesdictum</h4>
         <p>Nullam commodo sem id mollis pretium. Duis sed aliquam quam, rutrum placerat massa. Etiam nec hendrerit purus, ut laoreet libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec bibendum cursus mi, in dignissim enim posuere quis. Integer sollicitudin libero quam, id eleifend arcu malesuada vel. Cras justo tortor, mollis eget dapibus in, egestas sed enim. Donec bibendum neque lorem, eget commodo nulla finibus sed. Aliquam erat volutpat. Nullam sed euismod libero, lobortis rutrum urna. Donec et urna tellus.
         </p>
         <h4 class="mb-2"><strong>Lorem ipsum dolor utaliquip</strong></h4>
         <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temporincididunt ut labore et dolore magnaaliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi utaliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiatnulla pariatur. Excepteur sintoccaecat cupidatat non proident, sunt in culpa qui officia deserunt.</p>
      </div>
   </div>
</div>
</div>
<div id="comments" class="comments-area">
<h4 class="comments-title">3 Comment</h4>
<ol class="commentlist">
   <li class="comment">
      <article class="comment-body">
         <div class="iq-comments-media">
            <div class="iq-comment-wrap">
               <div class="iq-comments-photo">
                  <img class="img-fluid" src="images/blog/02.png"  />
               </div>
               <div class="iq-comments-info">
                  <h5 class="title">admin</h5>
                  <div class="iq-comment-metadata">
                     <a href="#">
                        <time>
                        <i class="fa fa-calendar"></i> May 28, 2019 at 9:15 am </time>
                     </a>
                     
                  </div>
                  <div class="comment-content">
                     <p>As a WordPress developer, whenever you build a new theme, plugin or even if you are testing out new features of WordPress that you might not be familiar with. There’s one task that get’s extremely repetitive, cumbersome and mundane.</p>
                  </div>
               </div>
               <div class="reply">
                  <a href="#">Reply</a>
               </div>
            </div>
         </div>
      </article>
      <ol class="children">
         <li class="comment">
            <article class="comment-body">
               <div class="iq-comments-media">
                  <div class="iq-comment-wrap">
                     <div class="iq-comments-photo">
                        <img class="img-fluid" src="images/blog/03.png" alt="#"  />
                     </div>
                     <div class="iq-comments-info">
                        <h5 class="title">
                        huck                 </h5>
                        <div class="iq-comment-metadata">
                           <a href="#">
                              <time>
                              <i class="fa fa-calendar"></i>
                              May 28, 2019 at 11:12 am </time>
                           </a>
                        </div>
                        <div class="comment-content">
                           <p>Our goal with this post is to help you to alleviate this time-consuming aspect of the development process by covering a list of plugins that help you achieve this goal in just a matter of seconds.</p>
                        </div>
                     </div>
                     <div class="reply">
                        <a href="#">Reply</a>
                     </div>
                  </div>
               </div>
            </article>
            <ol class="children">
               <li class="comment">
                  <article  class="comment-body">
                     <div class="iq-comments-media">
                        <div class="iq-comment-wrap">
                           <div class="iq-comments-photo">
                              <img class="img-fluid" src="images/blog/04.png" alt="#"/>
                           </div>
                           <div class="iq-comments-info">
                              <h5 class="title">
                              ivanka                  </h5>
                              <div class="iq-comment-metadata">
                                 <a href="#">
                                    <time>
                                    <i class="fa fa-calendar"></i>
                                    May 28, 2019 at 11:18 am                        </time>
                                 </a>
                                 </div><!-- .comment-metadata -->
                                 <div class="comment-content">
                                    <p>The usual way people tend to do this is either hire someone on Fiverr, to create all this dummy text or as a WordPress developer you’ll need to perform the task of filling up an empty theme with dummy content yourself.</p>
                                    </div><!-- .comment-content -->
                                    </div><!-- .comment-author -->
                                    <div class="reply">
                                       <a href="#">Reply</a>             </div><!-- .reply -->
                                    </div>
                                 </div>
                                 </article><!-- .comment-body -->
                                 </li><!-- #comment-## -->
                                 </ol><!-- .children -->
                                 </li><!-- #comment-## -->
                                 </ol><!-- .children -->
                                 </li><!-- #comment-## -->
                                 </ol><!-- .commentlist -->
                                 <!--  -->
                                 
                              </div>
                              <div class="title mt-5">
                                 <h3 id="reply-title" class="comment-reply-title">Leave a Reply</h3>
                                 <p>Your email address will not be published. Required fields are marked *</p>
                              </div>
                              
                              <form class="contact-us mt-3" id="iq-contact-form" method="post">
                                 <div class="row">
                                    <div class="col-xl-12">
                                       <label>Comment<br>
                                          <span class="form-control-wrap your-message">
                                          <textarea name="message" placeholder="Comment" class="form-control textarea" aria-invalid="false"></textarea></span>
                                       </label>
                                    </div>
                                 </div>
                                 <div class="row">
                                    <div class="col-md-4">
                                       <label>Your Name<br>
                                          <span class="form-control-wrap your-name">
                                             <input type="text" name="name" placeholder="Your Name" class="form-control text" aria-required="true" aria-invalid="false"></span>
                                          </label>
                                       </div>
                                       <div class="col-md-4">
                                          <label>Your Email<br>
                                             <span class="form-control-wrap your-email">
                                                <input type="email" name="email" placeholder="Email" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                                             </label>
                                          </div>
                                          <div class="col-md-4">
                                             <label>Website<br>
                                                <span class="form-control-wrap your-website">
                                                   <input type="text" name="website" placeholder="website" class="form-control text" aria-invalid="false"></span>
                                                </label>
                                             </div>
                                          </div>
                                          <div class="row">
                                             <div class="col-xl-12">
                                                <button id="submit" name="submit" type="submit" value="Send" class="button btn-yellow mt-4">Post Comment</button>
                                             </div>
                                          </div>
                                          
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </section>
                           <!--Our Blog End -->
                        </div>
                        <!-- Main-Content End -->
                        <!-- Footer Start -->
                        <footer>
                           <div class="footer-subscribe">
                              <div class="container">
                                 <div class="row">
                                    <div class="col-sm-6">
                                       <h3 class="subscribe-heading">Subscribe Now</h3>
                                    </div>
                                    <div class="col-sm-6">
                                       <div class="form-fields">
                                          <input type="email" name="EMAIL" placeholder="Your Email" required="">
                                          <a class="button btn-yellow" href="#">Sign Up</a>
                                       </div>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="container">
                              <div class="row">
                                 <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="footer-logo">
                                       <a href="#">
                                          <img class="img-fluid" src="images/logo.png" alt="bizbag1">
                                       </a>
                                    </div>
                                    <div class="widget">
                                       <div class="textwidget">
                                          <p>nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="widget">
                                       <h4 class="footer-title">Useful Link</h4>
                                       <ul class="menu">
                                          <li><a href="index.html" aria-current="page">Home</a></li>
                                          <li><a href="our-services-1.html">Our Services</a></li>
                                          <li><a href="our-team-1.html">Our Team</a></li>
                                          <li><a href="two-column-blog.html">Blog</a></li>
                                          <li><a href="faq-1.html">FAQ</a></li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="iq-widget-menu widget">
                                       <h4 class="footer-title iq-rmt-30">Latest Post</h4>
                                       <div class="list-inline iq-widget-menu">
                                          <ul class="iq-post">
                                             <li class="mt-3">
                                                <div class="post-img">
                                                   <img width="150" height="150" src="images/post/01.jpg" class="img-fluid" alt=""/>
                                                </div>
                                                <div class="post-blog">
                                                   <div class="blog-box">
                                                      <a href="two-column-blog.html">Construction industry</a>
                                                      <ul>
                                                         <li><a href="#">May 18, 2019</a></li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="mt-3">
                                                <div class="post-img">
                                                   <img src="images/post/02.jpg" class="img-fluid" alt=""/>
                                                </div>
                                                <div class="post-blog">
                                                   <div class="blog-box">
                                                      <a href="two-column-blog.html">Life Lack Meaning</a>
                                                      <ul>
                                                         <li><a href="#">May 18, 2019</a></li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </li>
                                             <li class="mt-3">
                                                <div class="post-img">
                                                   <img src="images/post/03.jpg" class="img-fluid" alt=""/>
                                                </div>
                                                <div class="post-blog">
                                                   <div class="blog-box">
                                                      <a href="two-column-blog.html">Content Marketing</a>
                                                      <ul>
                                                         <li><a href="#">May 18, 2019</a></li>
                                                      </ul>
                                                   </div>
                                                </div>
                                             </li>
                                          </ul>
                                       </div>
                                    </div>
                                 </div>
                                 <div class="col-lg-3 col-md-6 col-sm-6">
                                    <div class="widget">
                                       <h4 class="footer-title iq-rmt-30">Categories</h4>
                                       <ul class="category">
                                          <li><a href="#">Business</a>
                                       </li>
                                       <li><a href="#">Design</a></li>
                                       <li><a href="#">Fashion</a></li>
                                       <li><a href="#">Photography</a></li>
                                       <li><a href="#">Technology</a></li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                           <div class="copyright-footer pb-3 pt-3">
                              <div class="row">
                                 <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                                    <span class="copyright">Copyright 2019 bizbag All Rights Reserved.</span>
                                 </div>
                                 <div class="col-lg-6 col-md-6">
                                    <div class="social-icone">
                                       <ul>
                                          <li class="d-inline"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> </li>
                                          <li class="d-inline"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                                          <li class="d-inline"><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
                                          <li class="d-inline"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                                       </ul>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </footer>
                     <!-- Footer End -->
                     <!-- back-to-top -->
                     <div id="back-to-top">
                        <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
                     </div>
                     <!-- back-to-top End -->
                     <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                     <script src="js/jquery-1.11.1.min.js" ></script>
                     <!-- popper  -->
                     <script src="js/popper.min.js"></script>
                     <!--  bootstrap -->
                     <script src="js/bootstrap.min.js" ></script>
                     <!-- Appear JavaScript -->
                     <script src="js/appear.js"></script>
                     <!-- Mega menu JavaScript -->
                     <script src="js/mega_menu.min.js"></script>
                     <!-- Count Down JavaScript -->
                     <script src="js/countdown.min.js"></script>
                     <!-- Owl Carousel JavaScript -->
                     <script src="js/owl.carousel.min.js"></script>
                     <!-- Magnific Popup JavaScript -->
                     <script src="js/jquery.magnific-popup.min.js"></script>
                     <!--  Counter -->
                     <script src="js/jquery.countTo.js" ></script>
                     <!-- Skrollr JavaScript -->
                     <script src="js/skrollr.js"></script>
                     <!-- Isotope JavaScript -->
                     <script src="js/isotope.pkgd.min.js"></script>
                     <!-- Retina JavaScript -->
                     <script src="js/retina.min.js"></script>
                     <!--  Custom -->
                     <script src="js/custom.js" ></script>
                  </body>
               </html>