<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BizBag - Multipurpose Business Startup HTML Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loader">
         </div>
      </div>
      <!-- loading End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <section class="coming-soon">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="login-info text-center">
                        <h2 class="display-1 text-uppercase mb-4">Coming Soon</h2>
                        <h4>Stay Connected, Stay Updated!</h4>
                        
                        <ul id="countdown" class="iq-countdown justify-content-center">
                            <li><span class="days">00</span>
                                <p class="days_text">Days</p>
                            </li>
                            
                            <li><span class="hours">00</span>
                                <p class="hours_text">Hours</p>
                            </li>
                            
                            <li><span class="minutes">00</span>
                                <p class="minutes_text">Minutes</p>
                            </li>
                            
                            <li><span class="seconds">00</span>
                                <p class="seconds_text">Seconds</p>
                            </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="row justify-content-center">
                  <div class="col-sm-5">
                     <div class="form-fields">
                        <input type="email" name="EMAIL" placeholder="Your Email" required="">
                        <a class="button btn-yellow" href="#">Subscribe</a>
                     </div>
                  </div>
               </div>
            </div>
         </section>
      </div>
         <!-- Main-Content End -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-1.11.1.min.js" ></script>
<!-- popper  -->
<script src="js/popper.min.js"></script>
<!--  bootstrap -->
<script src="js/bootstrap.min.js" ></script>
<!-- Appear JavaScript -->
<script src="js/appear.js"></script>
<!-- Mega menu JavaScript -->
<script src="js/mega_menu.min.js"></script>
<!-- Count Down JavaScript -->
<script src="js/countdown.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--  Counter -->
<script src="js/jquery.countTo.js" ></script>
<!-- Skrollr JavaScript -->
<script src="js/skrollr.js"></script>
<!-- Isotope JavaScript -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- Retina JavaScript -->
<script src="js/retina.min.js"></script>
<!--  Custom -->
<script src="js/custom.js" ></script>
      </body>
   </html>