{% extends 'main.html' %}
{% load static %} 
{% block title %}Contact Us{%endblock title %}

{% block content %}
<!-- Breadcrumb Start -->
<section class="iq-breadcrumb text-left">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
        <h2 class="title">Contact Us</h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="index.html"
                ><i class="fa fa-home" aria-hidden="true"></i>Home</a
              >
            </li>
            <li class="breadcrumb-item active">Contact Us</li>
          </ol>
        </nav>
      </div>
      <div class="col-lg-4 col-md-4 text-right">
        <img src="{% static 'images/contact-us/02.png' %}" class="img-fluid" alt="#" />
      </div>
    </div>
  </div>
</section>
<!-- Breadcrumb End -->
<!-- Main-Content Start -->
<div class="main-content">
  <!-- Contact Us Start -->
  <section class="iq-contactus gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <iframe
            class="w-100 contact-ifream"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840289118572!2d144.95373631550405!3d-37.81720974201396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1543402448828"
            allowfullscreen
          ></iframe>
        </div>
        <div class="col-lg-6">
          <div class="title-box text-left">
            <span class="text-warning">Get in Touch</span>
            <h2 class="title">Contact Us</h2>
            <p class="mb-0">
              It is a long established fact that a reader will be distracted
            </p>
          </div>
          <form class="contact-us" id="contact" method="post">
            <div class="row">
              <div class="col-md-6">
                <label
                  >Your Name<br />
                  <span class="form-control-wrap your-name">
                    <input
                      type="text"
                      name="name"
                      placeholder="Your Name"
                      class="form-control text"
                      aria-required="true"
                      aria-invalid="false"
                  /></span>
                </label>
              </div>
              <div class="col-md-6">
                <label
                  >Your Email<br />
                  <span class="form-control-wrap your-email">
                    <input
                      type="email"
                      name="email"
                      placeholder="Email"
                      class="form-control text email"
                      aria-required="true"
                      aria-invalid="false"
                  /></span>
                </label>
              </div>
              <div class="col-xl-12">
                <label>Subject<br />
                  <span class="form-control-wrap your-subject">
                    <input
                      type="text"
                      name="subject"
                      placeholder="Subject"
                      class="form-control text"
                      aria-invalid="false"
                  /></span>
                </label>
              </div>
              <div class="col-xl-12">
                <label
                  >Your Message<br />
                  <span class="form-control-wrap your-message">
                    <textarea
                      name="message"
                      placeholder="Message"
                      class="form-control textarea"
                      aria-invalid="false"
                    ></textarea>
                  </span>
                </label>
              </div>
              <div class="col-xl-12">
                <button
                  id="submit"
                  name="submit"
                  type="submit"
                  value="Send"
                  class="button btn-yellow"
                >
                  Send message
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- Contact Us End -->
  <!-- Fancy-box Start -->
  <section class="overview-block-ptb">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <span class="text-warning">Get In Touch</span>
            <h2 class="title">Quick Support</h2>
            <p class="mb-0">You can get all the contact information.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="iq-fancy-box text-center">
            <div class="iq-icon">
              <i aria-hidden="true" class="ion ion-ios-location-outline"></i>
            </div>
            <div class="fancy-content">
              <h4>Our Address</h4>
              <p>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="iq-fancy-box text-center">
            <div class="iq-icon">
              <i aria-hidden="true" class="ion ion-ios-email-outline"></i>
            </div>
            <div class="fancy-content">
              <h4>Our Email Address</h4>
              <p>
                support@bizbag.com<br />
                support@demo.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="iq-fancy-box text-center">
            <div class="iq-icon">
              <i aria-hidden="true" class="ion ion-ios-telephone-outline"></i>
            </div>
            <div class="fancy-content">
              <h4>Our Phone Number</h4>
              <p>
                +11 123 456 7890<br />
                +11 123 456 7890
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Fancy-box End -->
  <div class="footer-subscribe">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <h3 class="subscribe-heading">Subscribe Now</h3>
        </div>
        <div class="col-sm-6">
          <div class="form-fields">
            <input type="email" name="EMAIL" placeholder="Your Email" required=""/>
            <a class="button btn-yellow" href="#">Sign Up</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Main-Content End -->
{% endblock content %}