<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BizBag - Multipurpose Business Startup HTML Template</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="images/favicon.ico" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="css/bootstrap.min.css">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="css/typography.css">
      <!-- Style CSS -->
      <link rel="stylesheet" href="css/style.css">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="css/responsive.css">
   </head>
   <body>
      <!-- loading -->
      <div id="loading">
         <div id="loading-center">
            <img src="images/loader.gif" alt="loader">
         </div>
      </div>
      <!-- loading End -->
      <!-- Header Start -->
      <header id="main-header" class="header-one">
         <div class="topbar">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-6 col-md-6">
                     <div class="number-info">
                        <ul>
                           <li class="email-header"><a href="mailto:support@bizbag.com">
                           <i class="fas fa-envelope"></i>support@bizbag.com</a>
                        </li>
                        <li class="phone-header"><a href="tel:+0123456789">
                        <i class="fas fa-phone"></i>+0123456789</a>
                     </li>
                  </ul>
               </div>
            </div>
            <div class="col-lg-6 col-md-6">
               <div class="social-icone text-right">
                  <ul>
                     <li class="d-inline"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a></li>
                     <li class="d-inline"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                     <li class="d-inline"><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
                     <li class="d-inline"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>
   <!-- menu start -->
   <nav id="menu-1" class="mega-menu" data-color="">
      <!-- menu list items container -->
      <div class="menu-list-items">
         <div class="container-fluid">
            <div class="row">
               <div class="col-sm-12">
                  <!-- menu logo -->
                  <ul class="menu-logo">
                     <li>
                        <a href="index.html"><img src="images/logo.png" alt="logo" class="img-fluid"></a>
                     </li>
                  </ul>
                  <!-- menu links -->
                  <ul class="menu-links">
                     <!-- active class -->
                     <li>
                        <a href="javascript:void(0)">HOME</a>
                        <!-- drop down multilevel  -->
                        <ul class="drop-down-multilevel">
                           <li><a href="index.html">BUSINESS STARTUP</a></li>
                           <li><a href="home-2.html">CREATIVE AGENCY</a></li>
                           <li><a href="home-3.html">SAAS LANDING PAGE</a></li>
                           <li><a href="home-4.html">DIGITAL MARKETING</a></li>
                           <li><a href="home-5.html">CONSULTING</a></li>
                        </ul>
                     </li>
                     <li>
                        <a href="javascript:void(0)">PAGES </a>
                        <!-- drop down multilevel  -->
                        <ul class="drop-down-multilevel">
                           <li>
                              <a href="about-us.html">ABOUT US  </a>
                              <!-- drop down second level -->
                           </li>
                           <li>
                              <a href="our-services.html">OUR SERVICES </a>
                              <!-- drop down second level -->
                           </li>
                           <li>
                              <a href="#">OUR TEAM <i class="fa fa-angle-right fa-indicator"></i> </a>
                              <!-- drop down second level -->
                              <ul class="drop-down-multilevel">
                                 <li><a href="our-team.html">OUR TEAM 1</a></li>
                                 <li><a href="team-details.html">TEAM DETAILS</a></li>
                              </ul>
                           </li>
                           <li>
                              <a href="pricing-plan.html">PRICING PLAN </a>
                              <!-- drop down second level -->

                           </li>
                           <li>
                              <a href="clients-1.html">OUR CLIENTS </a>
                              <!-- drop down second level -->
                           </li>
                           <li class="active">
                              <a href="faq-1.html">FAQ  </a>
                              <!-- drop down second level -->
                           </li>
                           <li class=""><a href="404-1.html">ERROR 404  </a>
                           <!-- drop down second level -->
                        </li>
                        <li><a href="coming-soon-1.html">COMING SOON</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0)">PORTFOLIO</a>
                     <!-- drop down multilevel  -->
                     <ul class="drop-down-multilevel">
                        <li><a href="masonry-2-columns.html">MASONRY 2 COLUMNS</a></li>
                        <li><a href="masonry-3-columns.html">MASONRY 3 COLUMNS</a></li>
                        <li><a href="masonry-4-columns.html">MASONRY 4 COLUMNS</a></li>
                        <li><a href="masonry-5-columns.html">MASONRY 5 COLUMNS</a></li>
                        <li><a href="masonry-no-space.html">MASONRY NO SPACE</a></li>
                     </ul>
                  </li>
                  <li>
                     <a href="javascript:void(0)">BLOG</a>
                     <!-- drop down multilevel  -->
                     <ul class="drop-down-multilevel">
                        <li><a href="one-column-blog.html">ONE COLUMN BLOG</a></li>
                        <li><a href="two-column-blog.html">TWO COLUMN BLOG</a></li>
                        <li><a href="three-column-blog.html">THREE COLUMN BLOG</a></li>
                        <li><a href="left-sidebar-blog.html">LEFT SIDEBAR BLOG</a></li>
                        <li><a href="right-sidebar-blog.html">RIGHT SIDEBAR BLOG</a></li>
                     </ul>
                  </li>
                  <li class="">
                     <a href="contact-us.html">CONTACT US</a>
                     <!-- drop down multilevel  -->
                  </li>
                  <li><a class="button btn-hdr" href="javascript:void(0)">GET STARTED</a></li>
               </ul>
            </div>
         </div>
      </div>
   </div>
</nav>
<!-- menu end -->
</header>
<!-- Header End -->
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-8 col-md-8 text-left mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">Contact Us</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
                        <li class="breadcrumb-item active">Contact Us</li>
                     </ol>
                  </nav>
               </div>
               <div class="col-lg-4 col-md-4 text-right">
                  <img  src="images/contact-us/02.png" class="img-fluid" alt="#"/>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Contact Us Start -->
         <section class="iq-contactus gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-6">
                     <iframe class="w-100 contact-ifream" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3151.840289118572!2d144.95373631550405!3d-37.81720974201396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad65d4c2b349649%3A0xb6899234e561db11!2sEnvato!5e0!3m2!1sen!2sin!4v1543402448828"  allowfullscreen></iframe>
                  </div>
                  <div class="col-lg-6">
                     <div class="title-box  text-left">
                        <span class="text-warning">Get in Touch</span>
                        <h2 class="title">Contact Us</h2>
                        <p class="mb-0">It is a long established fact that a reader will be distracted</p>
                     </div>
                     <form  class="contact-us" id="contact" method="post">
                        <div class="row">
                           <div class="col-md-6">
                              <label>Your Name<br>
                              <span class="form-control-wrap your-name">
                              <input type="text" name="name" Placeholder="Your Name" class="form-control text" aria-required="true" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-md-6">
                              <label>Your Email<br>
                              <span class="form-control-wrap your-email">
                              <input type="email" name="email" Placeholder="Email" class="form-control text email" aria-required="true" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <label>Subject<br>
                              <span class="form-control-wrap your-subject">
                              <input type="text" name="subject" Placeholder="Subject" class="form-control text" aria-invalid="false"></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <label>Your Message<br>
                              <span class="form-control-wrap your-message">
                              <textarea name="message" Placeholder="Message" class="form-control textarea" aria-invalid="false"></textarea></span>
                              </label>
                           </div>
                           <div class="col-xl-12">
                              <button id="submit" name="submit" type="submit" value="Send" class="button btn-yellow" >Send message</button>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </section>
         <!-- Contact Us End -->
         <!-- Fancy-box Start -->
         <section class="overview-block-ptb">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">Get In Touch</span>
                        <h2 class="title">Quick Support</h2>
                        <p class="mb-0">You can get all the contact information.</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-sm-4">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-location-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>Our Address</h4>
                           <p>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-email-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>Our Email Address</h4>
                           <p>support@bizbag.com<br>
                              support@demo.com
                           </p>
                        </div>
                     </div>
                  </div>
                  <div class="col-sm-4">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-telephone-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>Our Phone Number</h4>
                           <p>+11 123 456 7890<br>
                              +11 123 456 7890
                           </p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Fancy-box End -->
      <div class="footer-subscribe">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h3 class="subscribe-heading">Subscribe Now</h3>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-fields">
                        <input type="email" name="EMAIL" placeholder="Your Email" required="">
                        <a class="button btn-yellow" href="#">Sign Up</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>
   <!-- Main-Content End -->
      <!-- Footer Start -->
      <footer>
         
         <div class="container">
            <div class="footer-top mt-5">
               <div class="row">
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="footer-logo">
                        <a href="#">
                        <img class="img-fluid" src="images/logo.png" alt="bizbag1">
                        </a>
                     </div>
                     <div class="widget">
                        <div class="textwidget">
                           <p>nisi elit consequat ipsum,Lorem Ipsum.lorem quis bibendum auctor.</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="widget">
                        <h4 class="footer-title">Menu</h4>
                        <ul>
                           <li><a href="index.html" aria-current="page">Home</a></li>
                           <li><a href="our-services-1.html">Our Services</a></li>
                           <li><a href="our-team-1.html">Our Team</a></li>
                           <li><a href="two-column-blog.html">Blog</a></li>
                           <li><a href="faq-1.html">FAQ</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="widget">
                        <h4 class="footer-title">Categories</h4>
                        <ul>
                           <li><a href="#" aria-current="page">Design</a></li>
                           <li><a href="#">Fashion</a></li>
                           <li><a href="#">Photography</a></li>
                           <li><a href="#">Technology</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-2 col-md-6 col-sm-6">
                     <div class="widget">
                        <h4 class="footer-title iq-rmt-30">Archives</h4>
                        <ul>
                           <li><a href="#">May 2019</a>&nbsp;(8)</li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 col-sm-6">
                     <div class="widget">
                        <h4 class="footer-title contact-info">Contact Us</h4>
                        <ul class="iq-contact">
                           <li>
                              <a href="tel:+0123456789"><i class="fas fa-phone"></i>+0123456789</a>
                           </li>
                           <li>
                              <a href="mailto:support@bizbag.com"><i class="fas fa-envelope"></i>support@bizbag.com</a>
                           </li>
                           <li>
                           </li>
                           <li>
                              <p><i class="fas fa-map-marker-alt"></i>1234 North Avenue Luke Lane, South Bend, IN 360001</p>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="copyright-footer pb-3 pt-3">
                  <div class="row">
                     <div class="col-lg-6 col-md-6 mb-2 mb-lg-0">
                        <span class="copyright">Copyright <script>document.write(new Date().getFullYear())</script> bizbag All Rights Reserved.</span>
                     </div>
                     <div class="col-lg-6 col-md-6">
                        <div class="social-icone">
                           <ul>
                              <li class="d-inline"><a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a> </li>
                              <li class="d-inline"><a href="https://twitter.com/"><i class="fab fa-twitter"></i></a></li>
                              <li class="d-inline"><a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a></li>
                              <li class="d-inline"><a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a></li>
                           </ul>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- Footer End -->
      <!-- back-to-top -->
      <div id="back-to-top">
         <a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
      </div>
      <!-- back-to-top End -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="js/jquery-1.11.1.min.js" ></script>
<!-- popper  -->
<script src="js/popper.min.js"></script>
<!--  bootstrap -->
<script src="js/bootstrap.min.js" ></script>
<!-- Appear JavaScript -->
<script src="js/appear.js"></script>
<!-- Mega menu JavaScript -->
<script src="js/mega_menu.min.js"></script>
<!-- Count Down JavaScript -->
<script src="js/countdown.min.js"></script>
<!-- Owl Carousel JavaScript -->
<script src="js/owl.carousel.min.js"></script>
<!-- Magnific Popup JavaScript -->
<script src="js/jquery.magnific-popup.min.js"></script>
<!--  Counter -->
<script src="js/jquery.countTo.js" ></script>
<!-- Skrollr JavaScript -->
<script src="js/skrollr.js"></script>
<!-- Isotope JavaScript -->
<script src="js/isotope.pkgd.min.js"></script>
<!-- Retina JavaScript -->
<script src="js/retina.min.js"></script>
<!--  Custom -->
<script src="js/custom.js" ></script>
   </body>
</html>