{% extends 'main.html' %}
{% load static %}
{% block title %}TuMLAI{% endblock title %}
{% block home_active %} class="active" {% endblock home_active %}
{% block content %}
      <!-- Slider Banner Start -->
         <div class="iq-banner">
            <div class="container">
               <div class="row slider-row-2 text-center justify-content-between">
                  <div class="col-lg-12 mb-5 mb-6">
                     <div class="slider-banner slider-banner2">
                        <h2 class="text-uppercase banner-title">جایگاه یک کسب و کار مدرن </h2>
                        <p class="mb-4">شاید برای بعضی از افرادی که کسب و کار سنتی دارند، سوال پیش بیاید که چرا باید به سمت کسب و کار اینترنتی رفت ؟<br> 
                        مشتریان ممکن است ترجیح دهند به جای مراجعه حضوری به فروشگاه شما برای اطلاع از محصولات و خدمات، به وبسایت مراجعه کنند.<br>
                        آنها همچنین انتظار دارند که آدرس سایت و شبکه­‌های اجتماعی­‌تان را بر روی کارت و گزینه‌های تبلیغاتی ثبت کنید.<br>
                        دنیا به سمت مجازی شدن پیش می‌رود و تنها دلیلی که به بقای فروش و کسب درآمد کمک می‌کند همین کسب و کارهای اینترنتی هستند.</p>
                        <a href="#" class="btn slide-button button">بیشتر بدانید</a>
                     </div>
                  </div>
                  <div class="col-lg-12">
                     <div class="slider-image-2 slide-2">
                        <div class="slider-1"></div>
                        <div class="slider-2"></div>
                        <div class="slider-3"></div>
                        <div class="slider-4"></div>
                        <div class="slider-5"></div>
                        <div class="slider-6"></div>
                        <img class="banner-img img-fluid center-block" src="{% static 'images/slider/banner-2/01.png' %}" alt="">
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <!-- Slider Banner End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Fancy Box Start -->
         <section class="fancy-box gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">بهترین خدمات متناسب با خواسته شما</span>
                        <h2 class="title">هر انچه که ما تضمین میکنیم</h2>
                        <p class="mb-0">کوچک ترین نکات برای شما حتی روانشناسی بیزنس </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-3 col-md-6 mb-5">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-laptop"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>طراحی منحصر و خاص</h4>
                           <p>قالبی جدید نوین و متناسب با کسب و کار شما همراه با متد های روز طراحی و رنگ شناسی</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-pie-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>بازاریابی</h4>
                           <p>همراه با اصول روانشناسی و بین المللی بازاریابی و جذب مشتری برای رونق بخشیدن به کسب و کار ها</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-color-wand-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>توسعه و گسترش</h4>
                           <p>هر کسب و کار همواره نیازمند توسعه و ایده های نوین است و شما میتوانید برای اجرا کردن این ایده ها با ما همراه شوید</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-glasses-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>امنیت</h4>
                           <p>از مهم ترین دغدغه های هر فرد در کسب و کار هوشمند ایمن و مطمیٔن بودن ان است که این امر نیز تخصص ماست</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-book-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>مشاوره</h4>
                           <p>تیم تخصصی ما میتواند در زمینه انلاین سازی و هوشمند سازی کسب کارتان به شما مشاوره تخصصی ارایٔه دهد</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-android-globe"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>بین الملل</h4>
                           <p>متخصصان ما با اشنایی با زبان المانی و انگلیسی اماده فراهم سازی بستر بین المللی کسب کار شما می باشد</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6 mb-5 mb-lg-0 mb-md-0">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-android-bulb"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>ارزش های کلیدی</h4>
                           <p>تیم تخصصی توملای با پیدا کردن ارزش های کلیدی کسب و کار شمارا از دیگر رقیبان متمایز می کند</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-3 col-md-6">
                     <div class="iq-fancy-box text-center">
                        <div class="iq-icon">
                           <i aria-hidden="true" class="ion ion-ios-stopwatch-outline"></i>
                        </div>
                        <div class="fancy-content">
                           <h4>زمان بندی</h4>
                           <p>از ابتدا تا انتهای پروژه شما به صورت تضمینی در یک پلن زمانی دقیق و بدون حتی یک روز تاخیر خواهد بود</p>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Fancy Box End -->
         <!-- Features Box Start -->
         <section class="features-box">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">برنامه های عملیاتی</span>
                        <h2 class="title">ما چگونه کار میکنیم</h2>
                        <p class="mb-0">نحوه کار تیم تخصصی توملای</p>
                     </div>
                  </div>
               </div>
               <div class="row">

                  <div class="col-lg-6 col-md-12 mt-5 mt-lg-0" style='padding-right:10px !important;'>
                     <div class="feature-box text- mb-5">
                        <div class="feature-info">
                           <h4>برنامه ریزی</h4>
                           <p class="mb-0">در ابتدای کار متناسب با خواسته های شما برنامه دقیق از طرح ریزی ها و زمان بندی پیاده سازی خواسته های شما برای کار تیم و اشنایی شما به شما ارایٔه می شود</p>
                        </div>
                        <div class="feature-number ">01</div>
                     </div>
                     <div class="feature-box text- mr-10 mb-5 " style='margin-right:50px !important'>
                        <div class="feature-info" style='text-align: right; padding-right: 10px;'>
                           <h4>توسعه</h4>
                           <p class="mb-0">پس از دریافت برنامه ارائه شده به وسیله تیم برنامه ریزی تیم توسعه همگام با برنامه پروژه شما را در کم ترین زمان ممکن پیاده سازی خواهند کرد</p>
                        </div>
                        <div class="feature-number ">02</div>
                     </div>
                     <div class="feature-box text- ">
                        <div class="feature-info">
                           <h4>راه اندازی</h4>
                           <p class="mb-0">و در انتها تیم راه اندازی در کم ترین زمان ممکن سایت شما را اماده راه اندازی خواهند کرد و به شما ارائه خواهند داد</p>
                        </div>
                        <div class="feature-number ">03</div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 text-center">
                     <img src="{% static 'images/features/04.png' %}" class="img-fluid center-block" alt="#">
                     <div class="iq-objects-style-1">
                        <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                        <img src="{% static 'images/effect/01.jpg' %}" alt="drive02">
                        </span>
                        <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <img src="{% static 'images/effect/02.jpg' %}" alt="drive02">
                        </span>
                        <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <img src="{% static 'images/effect/03.jpg' %}" alt="drive02">
                        </span>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scrolling-text top right default">
               <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">ما چگونه کار میکنیم</div>
            </div>
         </section>

         <section class="iq-chooseus">
            <div class="container">
               <div class="row flex-row-reverse">
                  <div class="col-lg-6 col-md-12">
                     <div class="title-box  text-left " style='text-align:right !important'>
                        <span class="text-warning">چرا تیم توملای ؟</span>
                        <h2 class="title">ارزش کلیدی تیم توملای</h2>
                        <p class="mb-0">تیم توملای متشکل از چند برنامه نویس بخش بکند،فرانت ، یک متخصص امنیت و یک گرافیست همراه سابقه کاری بالا و رزومه ای می باشد که</p>
                     </div>
                     <a class="button" style='float: right !important;' href="#">بیشتر بدانید</a>
                  </div>
                  <div class="col-lg-6 col-md-12 text-center iq-rmt-50">
                     <div class="iq-asked-img position-relative">
                        <img class="img-fluid" src="{% static 'images/choose-us/01.jpg' %}" alt="drive10" style="visibility: visible; animation-name: fadeIn;">
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Why Choose Us End -->
         <!-- Project Start -->
         <section class="iq-project gray-bg">
            <div class="container">
               <div class="row">

                  <div class="col-lg-6 col-md-12">
                     <div class="title-box text-right">
                        <span class="text-warning">استاد برنامه ریزی</span>
                        <h2 class="title">طراحی ، برنامه ریزی و استراتژی</h2>
                        <p class="mb-0"></p>
                     </div>
                     <div class="iq-accordion">
                        <div class="iq-accordion-block ad-active">
                           <a href="javascript:void(0)" class="ad-title text-right" style="">چرا برنامه ریزی میکنیم ؟</a>
                           <div class="iq-accordion text-right" style="display: block;">
                              <p>بدون یک برنامه خاص جامع و پیوسته فراهم کردن نیاز مشتری در زمان تعهد شده چیز غیر ممکنی است</p>
                           </div>
                        </div>
                        <div class="iq-accordion-block ">
                           <a href="javascript:void(0)" class="ad-title text-right">چگونه برنامه ریزی میکنیم ؟</a>
                           <div class="iq-accordion text-right" style="display: none;">
                              <p>طرح ریزی خواسته های مشتری ،زمان خالی افراد تیم و زمان مورد نیاز برای پیاده سازی هر بخش توسط متخصص ان برنامه ریزی میکنیم </p>
                           </div>
                        </div>
                        <div class="iq-accordion-block ">
                           <a href="javascript:void(0)" class="ad-title text-right">برنامه ریزی چگونه پیاده سازی می شود؟</a>
                           <div class="iq-accordion text-right" style="display: none;">
                              <p>تیم تخصصی توملای به دلیل پروژه های متعدد از زمان بندی دقیق پیاده سازی خواسته های شما اگاه بوده و به این تناسب طرح ریزی پیاده می شود</p>
                           </div>
                        </div>
                        <div class="iq-accordion-block ">
                           <a href="javascript:void(0)" class="ad-title text-right">در صورت تاخیر چه میشود ؟</a>
                           <div class="iq-accordion text-right" style="display: none;">
                              <p>تاخیر در برنامه های تیم توملای وجود ندارد اما در صورت بروز مشکل از طریق عوامل خارجی و در صورت ازافه کاری تیم مشکل برطرف نشد در همان لحظه میزان تاخیر به شما اطلاع داده می شود</p>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-6 col-md-12 text-center">
                     <img src="{% static 'images/project/Project-&-Strategy-Planning.png' %}" class="img-fluid" alt="#">
                     <div class="iq-objects-style-1">
                        <span class="iq-objects-01" data-bottom="transform:translatey(-50px)" data-top="transform:translatey(-50px);">
                        <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02">
                        </span>
                        <span class="iq-objects-02" data-bottom="transform:translatey(50px)" data-top="transform:translatey(-100px);">
                        <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02">
                        </span>
                        <span class="iq-objects-03" data-bottom="transform:translatex(50px)" data-top="transform:translatex(-100px);">
                        <img src="{% static 'images/effect/dotted-pattern-black.png' %}" alt="drive02">
                        </span>
                     </div>
                  </div>
               </div>
            </div>
         </section>
         <!-- Project End -->
         <!-- Our Team start -->
         <section id="our-team" class="our-team">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">رهبری</span>
                        <h2 class="title">تاسیس کنندگان</h2>
                        <p class="mb-0">بنیان گذاران تیم توملای در تمامی لحظه ها پاسخگوی شما هستند</p>
                     </div>
                  </div>
               </div>
               <div class="col-lg-12 col-md-12">
                  <div class="row">
                     <div class="iq-team2">
                        <div class="iq-team-img">
                           <img src="{% static 'images/team/04.jpg' %}" class="img-fluid rounded-circle" alt="#1">
                        </div>
                        <div class="iq-team-info text-center">
                           <a href="team-details.html"><h5>محمد میر</h5></a>
                           <span class="team-post">django programmer</span>
                           <div class="share">
                              <ul>
                                 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                 <li><a href="#"><i class="fab fa-google"></i></a></li>
                                 <li><a href="#"><i class="fab fa-github"></i></a></li>
                                 <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="iq-team2">
                        <div class="iq-team-img">
                           <img src="{% static 'images/team/01.jpg' %}" class="img-fluid rounded-circle" alt="#1">
                        </div>
                        <div class="iq-team-info text-center">
                           <a href="team-details.html"><h5>محمد مهدوی</h5></a>
                           <span class="team-post">php programmer</span>
                           <div class="share">
                              <ul>
                                 <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                 <li><a href="#"><i class="fab fa-google"></i></a></li>
                                 <li><a href="#"><i class="fab fa-github"></i></a></li>
                                 <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="iq-team2">
                        <div class="iq-team-img">
                              <img src="{% static 'images/team/01.jpg' %}" class="img-fluid rounded-circle" alt="#1">
                        </div>
                        <div class="iq-team-info text-center">
                              <a href="team-details.html"><h5>امیر غفاری</h5></a>
                              <span class="team-post">asp.net programmer</span>
                              <div class="share">
                                 <ul>
                                    <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fab fa-google"></i></a></li>
                                    <li><a href="#"><i class="fab fa-github"></i></a></li>
                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                 </ul>
                              </div>
                           </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scrolling-text bottam left default">
               <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">تیم ما</div>
            </div>
         </section>
         <!-- Our Team  end -->
         <!-- Client Testimonial start -->
         <section id="our-clients" class="our-clients gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">یادداشت مشتری</span>
                        <h2 class="title">نظرات مشتریان توملای</h2>
                        <p class="mb-0">توملای به پشتوانه ی این اعتماد توملای شد</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                        <div class="item">
                           <div class="iq-testimonial">
                              <div class="testimonial-img">
                                 <img  class="img-fluid rounded-circle" src="{% static 'images/testimonial/01.jpg' %}" alt="#">
                              </div>
                              <p>“Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a over 2000 years old.”</p>
                              <div class="testimonial-info">
                                 <div class="testimonial-name">
                                    <h5>Richardson</h5>
                                    <span class="sub-title">Developer, Bizbag</span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scrolling-text bottam right default">
               <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">اعتماد شما اعتبار ما</div>
            </div>
         </section>
         <!--Client Testimonial end -->
         <!-- Our Blog Start -->
         <section id="our-blog" class="blog">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="title-box text-center">
                        <span class="text-warning">توملای بلاگ</span>
                        <h2 class="title">توملای بلاگ های پر طرفدار</h2>
                        <p class="mb-0">تجربه اطلاعات جدید در کنار زندگی روزمره</p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="false" data-dots="true" data-items="3" data-items-laptop="3" data-items-tab="2" data-items-mobile="1" data-items-mobile-sm="1" data-margin="30">
                        <div class="item">
                           <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img src="{% static 'images/blog/01.jpg' %}" class="img-fluid center-block" alt="blogimage0">
                                 <ul class="iq-blogtag">
                                    <li><a href="#">Technology</a></li>
                                 </ul>
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul>
                                       <li class="list-inline-item">
                                          <a href="#" class="main-color" rel="bookmark">May 18, 2019</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                   <a href="blog-details.html">
                                       <h5>Construction industry</h5>
                                    </a>
                                 </div>
                                 <p>They bring to you a host of created infographics that contain the latest digital marketing </p>
                                 <a class="btn-link" href="blog-details.html">بیشتر بدانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img src="{% static 'images/blog/02.jpg' %}" class="img-fluid center-block" alt="blogimage1">
                                 <ul class="iq-blogtag">
                                    <li><a href="#">Business</a></li>
                                 </ul>
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul>
                                       <li class="list-inline-item">
                                          <a href="#" class="main-color" rel="bookmark">May 18, 2019</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                   <a href="blog-details.html">
                                       <h5>Life Lack Meaning</h5>
                                    </a>
                                 </div>
                                 <p>If you are keen on knowing new things about the digital marketing industry then Marketing Land.</p>
                                 <a class="btn-link" href="blog-details.html">بیشتر بدانید<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                              </div>
                           </div>
                        </div>
                        <div class="item">
                           <div class="iq-blog-box">
                              <div class="iq-blog-image clearfix">
                                 <img src="{% static 'images/blog/03.jpg' %}" class="img-fluid center-block" alt="blogimage2">
                                 <ul class="iq-blogtag">
                                    <li><a href="#">Design</a></li>
                                 </ul>
                              </div>
                              <div class="iq-blog-detail">
                                 <div class="iq-blog-meta">
                                    <ul>
                                       <li class="list-inline-item">
                                          <a href="#" class="main-color" rel="bookmark">May 18, 2019</a>
                                       </li>
                                    </ul>
                                 </div>
                                 <div class="blog-title">
                                   <a href="blog-details.html">
                                       <h5>Content Marketing</h5>
                                    </a>
                                 </div>
                                 <p>Content Marketing  offers some of the best advice around in terms of how content can help your brand.</p>
                                 <a class="btn-link" href="blog-details.html">بیشتر بدانید<i class="fa fa-angle-right"  aria-hidden="true"></i></a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scrolling-text bottam left default">
               <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">جدید ترین وبلاگ ما</div>
            </div>
         </section>
         <!--Our Blog End -->
      </div>
      <!-- Main Content End -->
      <!-- Start ************************************************ Pricing-->
      
      <!-- Main-Pricing-Content Start -->
      <div class="main-content">
         <!-- Pricing Plan Start  -->
         <section class="overview-block-ptb gray-bg">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-lg-12">
                     <div class="title-box  text-center">
                        <span class="text-warning">مشاهده کنید</span>
                        <h2 class="title">تعرفه قیمتی توملای</h2>
                        <p class="mb-0">قیمت پایین به نسبت خدمات عالی</p>
                     </div>
                  </div>
               </div>
               <div class="row mt-5">
                  <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 mb-md-0">
                     <div class="iq-pricing-table text-center ">
                        <div class="priceing-heading ">
                           <h4 class="title mb-3">Personal</h4>
                           <h2>19$<span>/ Per Month</span></h2>
                        </div>
                        <ul class="pricing-list">
                           <li>Ut eu lectus consequat.</li>
                           <li>Aenean a neque.</li>
                           <li class="pricing-features-item disable">
                              Aenean lacinia porttitor.
                           </li>
                           <li class="pricing-features-item disable">
                              Unknown printer took
                           </li>
                           <li class="pricing-features-item disable">
                              Embarrassing hidden
                           </li>
                        </ul>
                        <a class="button" href="#" role="button">انتخاب مدل</a>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-5 mb-lg-0 mb-md-0">
                     <div class="active">
                        <div class="iq-pricing-table text-center ">
                           <div class="priceing-heading ">
                              <h4 class="title mb-3">Business</h4>
                              <h2>19$<span>/ Per Month</span></h2>
                           </div>
                           <ul class="pricing-list">
                              <li>Ut eu lectus consequat.</li>
                              <li>Aenean a neque.</li>
                              <li class="pricing-features-item disable">
                                 Aenean lacinia porttitor.
                              </li>
                              <li class="pricing-features-item disable">
                                 Unknown printer took
                              </li>
                              <li class="pricing-features-item disable">
                                 Embarrassing hidden
                              </li>
                           </ul>
                           <a class="button" href="#" role="button">انتخاب مدل</a>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mb-lg-0 mb-md-0 iq-rmt-80">
                     <div class="iq-pricing-table text-center">
                        <div class="priceing-heading ">
                           <h4 class="title mb-3">Enterprice</h4>
                           <h2>19$<span>/ Per Month</span></h2>
                        </div>
                        <ul class="pricing-list">
                           <li>Ut eu lectus consequat.</li>
                           <li>Aenean a neque.</li>
                           <li class="pricing-features-item disable">
                              Aenean lacinia porttitor.
                           </li>
                           <li class="pricing-features-item disable">
                              Unknown printer took
                           </li>
                           <li class="pricing-features-item disable">
                              Embarrassing hidden
                           </li>
                        </ul>
                        <a class="button" href="#" role="button">انتخاب مدل</a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scrolling-text top right default">
               <div data-bottom="transform:translatex(300px)" data-top="transform:translatex(0);">مدل های قیمت گذاری ما</div>
            </div>
         </section>
         <!-- Pricing Plan End  -->
         <!-- Our Clients -->
         <section id="our-clients" class="our-clients gray-bg">
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <div class="title-box text-center">
                        <span class="text-warning">نتیجه اعتماد به ما</span>
                        <h2 class="title">مشتریان</h2>
                        <p class="mb-0">گوشه ای از انچه ما پیاده سازی کرده ایم </p>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-lg-12 col-md-12">
                     <div class="owl-carousel" data-autoplay="true" data-loop="true" data-nav="true" data-dots="false" data-items="4" data-items-laptop="3" data-items-tab="3" data-items-mobile="2" data-items-mobile-sm="1" data-margin="15">
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/01.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/02.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/03.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/04.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/05.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/06.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/07.png' %}" alt="#">
                           </div>
                        </div>
                        <div class="item">
                           <div class="clients-box">
                              <img class="img-fluid client-img" src="{% static 'images/clients/08.png' %}" alt="#">
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="scrolling-text top left default">
               <div data-bottom="transform:translatex(-300px)" data-top="transform:translatex(0);">نتیجه اعتماد به توملای</div>
            </div>
         </section>
         <!-- Our Clients End-->
      <div class="footer-subscribe">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h3 class="subscribe-heading">به ما بپیوندید</h3>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-fields">
                        <input type="email" name="EMAIL" placeholder="ایمیل" required="">
                        <a class="button btn-yellow" href="#">ثبت</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>
<!-- Main-Pricing-Content End -->

{% endblock content %}