{% extends 'main.html' %}
{% load static %}
{% block blog_active %} class="active" {% endblock blog_active %}
      {% block title %}TuMLAI Blog{% endblock title %}
      {% block links %}
      <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
      {% endblock links %}
   
   {% block content %}
      <!-- Breadcrumb Start -->
      <section class="iq-breadcrumb text-left">
         <div class="container">
            <div class="row">
               <div class="col-lg-4 col-md-4 text-left">
                  <img  src="{% static 'images/blog/01.png' %}" class="img-fluid" alt="#"/>
               </div>
               <div class="col-lg-8 col-md-8 text-right mb-4 mb-lg-0 align-self-center">
                  <h2 class="title">بلاگ</h2>
                  <nav aria-label="breadcrumb">
                     <ol class="breadcrumb">
                        <li class="breadcrumb-item active">بلاگ</li>
                        <li class="breadcrumb-item"><a href="{% url 'home_page' %}">خانه <i class="fa fa-home" aria-hidden="true"></i></a></li>
                     </ol>
                  </nav>
               </div>
            </div>
         </div>
      </section>
      <!-- Breadcrumb End -->
      <!-- Main-Content Start -->
      <div class="main-content">
         <!-- Our Blog Start -->
         <section id="our-blog" class="blog has-post-thumbnail gray-bg text-right">
            <div class="container">
               <div class="row">
                  <div class="col-lg-4 col-md-4 order-lg-2 order-2">
                     <div id="search-2" class="widget widget_search">
                        <form method="get" class="search-form">
                           <label>
                           <span class="screen-reader-text">Search for:</span>
                           </label>
                           <input type="search" id="search-form-5cf6041521a93" class="search-field" placeholder="جستجو" &hellip;" value="" name="s" />
                           <button type="submit" class="search-submit"><i class="fa fa-search"></i><span class="screen-reader-text">Search</span></button>
                        </form>
                     </div>
                     <div id="archives-2" class="widget widget_archive text-right">
                        <h2 class="widget-title">آرشیو</h2>
                        <ul class="archives text-right">
                           <li><a>اردیبهشت ماه 1400</a></li>
                        </ul>
                     </div>
                     <div class="iq-widget-menu widget text-right">
                        <h4 class="footer-title iq-rmt-30">پست های اخیر</h4>
                        <div class="list-inline iq-widget-menu">
                           <ul class="iq-post">
                              <li class="mt-3">
                                 <div class="post-blog text-right" style='margin-right:10px'>
                                    <div class="blog-box">
                                       <a href="two-column-blog.html">Construction industry</a>
                                       <ul>
                                          <li><a href="#">May 18, 2019</a></li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="post-img">
                                    <img width="150" height="150" src="{% static 'images/post/01.jpg' %}" class="img-fluid" alt=""/>
                                 </div>
                              </li>
                              <li class="mt-3">
                                 <div class="post-blog text-right" style='margin-right:10px'>
                                    <div class="blog-box">
                                       <a href="two-column-blog.html">Construction industry</a>
                                       <ul>
                                          <li><a href="#">May 18, 2019</a></li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="post-img">
                                    <img width="150" height="150" src="{% static 'images/post/01.jpg' %}" class="img-fluid" alt=""/>
                                 </div>
                              </li>
                              <li class="mt-3">
                                 <div class="post-blog text-right" style='margin-right:10px'>
                                    <div class="blog-box">
                                       <a href="two-column-blog.html">Construction industry</a>
                                       <ul>
                                          <li><a href="#">May 18, 2019</a></li>
                                       </ul>
                                    </div>
                                 </div>
                                 <div class="post-img">
                                    <img width="150" height="150" src="{% static 'images/post/01.jpg' %}" class="img-fluid" alt=""/>
                                 </div>
                              </li>
                           </ul>
                        </div>
                     </div>
                     <div class="widget">
                        <h4 class="widget-title iq-rmt-30">دسته بندی</h4>
                        <ul class="category">
                           <li><a href="#">Business</a>
                           </li>
                           <li><a href="#">Design</a>
                           </li>
                           <li><a href="#">Fashion</a>
                           </li>
                           <li><a href="#">Photography</a>
                           </li>
                           <li><a href="#">Technology</a>
                           </li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-8 col-md-8 order-lg-1 order-2">
                     {% for posts in posts %}
                     <div class="iq-blog-box">
                        <div class="iq-blog-image clearfix">
                           <img src="{{ posts.image.url }}" class="img-fluid center-block" alt="blogimage0">
                           <ul class="iq-blogtag">
                              <li><a href="#">Technology</a></li>
                           </ul>
                        </div>
                        <div class="iq-blog-detail">
                           <div class="iq-blog-meta">
                              <ul>
                                 <li class="list-inline-item">
                                    <a href="#" class="main-color" rel="bookmark">{{ posts.data_date }}</a>
                                 </li>
                              </ul>
                           </div>
                           <div class="blog-title">
                              <a href="blog-details.html">
                                 <h5>{{ posts.title }}</h5>
                              </a>
                           </div>
                           <p>{{ posts.content_text }}</p>
                           <a class="btn-link" href="/blog/{{ posts.id }}">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                        </div>
                     </div>
                     {% endfor %}
                     <ul class="page-numbers">
                        <li><span aria-current="page" class="page-numbers current">1</span></li>
                        <li><a class="page-numbers" href="#">2</a></li>
                        <li><a class="next page-numbers" href="#">Next page</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </section>
         <!--Our Blog End -->
      <div class="footer-subscribe">
            <div class="container">
               <div class="row">
                  <div class="col-sm-6">
                     <h3 class="subscribe-heading">Subscribe Now</h3>
                  </div>
                  <div class="col-sm-6">
                     <div class="form-fields">
                        <input type="email" name="EMAIL" placeholder="Your Email" required="">
                        <a class="button btn-yellow" href="#">Sign Up</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
</div>
<!-- Main-Content End -->
{% endblock content %}
{% block scripts %}
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery-1.11.1.min.js' %}" ></script>
<!-- popper  -->
<script src="{% static 'js/popper.min.js' %}"></script>
<!--  bootstrap -->
<script src="{% static 'js/bootstrap.min.js' %}" ></script>
<!-- Appear JavaScript -->
<script src="{% static 'js/appear.js' %}"></script>
<!-- Mega menu JavaScript -->
<script src="{% static 'js/mega_menu.min.js' %}"></script>
<!-- Count Down JavaScript -->
<script src="{% static 'js/countdown.min.js' %}"></script>
<!-- Owl Carousel JavaScript -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Magnific Popup JavaScript -->
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<!--  Counter -->
<script src="{% static 'js/jquery.countTo.js' %}" ></script>
<!-- Skrollr JavaScript -->
<script src="{% static 'js/skrollr.js' %}"></script>
<!-- Isotope JavaScript -->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!-- Retina JavaScript -->
<script src="{% static 'js/retina.min.js' %}"></script>
<!--  Custom -->
<script src="{% static 'js/custom.js' %}" ></script>
{% endblock scripts %}